@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* color: #FF5400 #131318
font-family: Mulish; */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Mulish", sans-serif;
}
body{
    font-family: "Mulish", sans-serif;
}
.container {
    display: flex;
    width: 100%;
}
.header-container{
    display: flex;
    /* border: 1px solid red; */
}
.logo {
    width: 50%;
    border: 1px solid red;
    display: flex;
    color: #131318;
    font-family: Mulish;
    font-size: 26px;
    margin-top: 15px;
    margin-left: 15px;
}

.primary-color {
    color: #FF5400;
    font-family: Mulish;
    font-weight: 800;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 800px;
    gap: 25px;
}

















@media screen and (max-width: 992px; ) {
        {}
}